// SCSS (in scss/style.scss)
@import "variables";
@import "theme";
@import "base";
@import "action_row";
@import "avatar";
@import "banner";
@import "box";
@import "button";
@import "checkbox";
@import "dialog";
@import "entry";
@import "expander_row";
@import "headerbar";
@import "label";
@import "listbox";
@import "progressbar";
@import "radio";
@import "row_types";
@import "spinner";
@import "split_button";
@import "status_page";
@import "switch";
@import "viewswitcher";
@import "flap";
@import "password_entry_row";
@import "window";
@import "toast";

// Make the adw-debug-box style the very last thing to ensure it has high precedence
// if the user still has it from previous debugging.
// If the user was asked to remove it, this won't hurt.
adw-debug-box div {
    background-color: lime !important;
    color: black !important;
    padding: 20px !important;
    border: 5px solid red !important;
    font-size: 24px !important;
    display: block !important;
    width: 90% !important;
    margin: 10px auto !important;
    text-align: center !important;
}