Alembic
bleach
blinker==1.9.0
click==8.2.1
email-validator # For WTForms Email validator
Flask==3.1.1
Flask-Login==0.6.3
Flask-Mail # Added for password reset emails
Flask-Migrate
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.2.3
itsdangerous==2.2.0 # Used by Flask, also good for generating tokens
Jinja2==3.1.6
MarkupSafe==3.0.2
Markdown==3.8.2
Pillow==11.3.0
psycopg2-binary==2.9.10
PyJWT # Added for generating secure timed tokens
PyYAML
SQLAlchemy==2.0.41
typing_extensions==4.14.1
Werkzeug>=3.1.0
WTForms==3.2.1
WTForms-SQLAlchemy==0.4.2
