@use 'variables';
@use 'mixins';
@use 'row_types';

.adw-action-row {
    @include row_types.row-base;
    @include row_types.row-clickable;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--row-min-height, 48px);
    padding: var(--row-padding-vertical-default, 10px) var(--row-padding-horizontal-default, 12px);

    .adw-action-row-prefix {
        margin-right: var(--spacing-m, 12px);
        display: flex;
        align-items: center;
    }

    .adw-action-row-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .adw-action-row-title {
        font-weight: var(--font-weight-bold, 700);
        color: var(--primary-fg-color, inherit);
    }

    .adw-action-row-subtitle {
        font-size: var(--font-size-small, 0.875em);
        color: var(--secondary-fg-color, inherit);
    }

    .adw-action-row-suffix {
        margin-left: var(--spacing-m, 12px);
        display: flex;
        align-items: center;
    }

    // This is for the little arrow icon
    &.adw-navigation-row::after {
        @include mixins.navigation-arrow;
    }

    &:disabled,
    &[disabled] {
    }
}
