@use 'variables';

.adw-card {
    background-color: var(--card-bg-color, variables.$card-bg-color-light);
    color: var(--card-fg-color, variables.$window-fg-color-light);
    border-radius: var(--border-radius-large, 12px);
    box-shadow: var(--subtle-box-shadow);
    padding: var(--spacing-l, 18px);
    border: 1px solid var(--card-shade-color, rgba(0, 0, 0, 0.07));
    transition: box-shadow 250ms cubic-bezier(0.215, 0.61, 0.355, 1),
                transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

    &.adw-card-flat {
        box-shadow: none;
        border: 1px solid var(--card-shade-color, rgba(0, 0, 0, 0.07));
    }

    &.adw-card-clickable:hover {
        cursor: pointer;
        box-shadow: var(--stronger-card-box-shadow);
        transform: translateY(-2px);
    }
}
