{% extends "base.html" %}

{% block title %}Edit Comment{% endblock %}

{% block header_title %}Edit Comment{% endblock %}

{% block content %}
<div class="adw-card" style="padding: 1rem;">
    <h1 class="adw-title-1">Edit Comment</h1>
    <form method="POST" action="{{ url_for('post.edit_comment', comment_id=comment.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.text(class="adw-textarea", rows="4") }}
        </div>
        <div class="adw-box adw-box-horizontal adw-box-spacing-s" style="margin-top: 1rem;">
            <button type="submit" class="adw-button suggested-action">Update Comment</button>
            <a href="{{ url_for('post.view_post', post_id=comment.target_id) }}" class="adw-button">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
