/* Error: Undefined variable.
 *    ,
 * 62 |       width: variables.$icon-size-base * 0.75; // Smaller arrow icon
 *    |              ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   adwaita-web/scss/_split_button.scss 62:14  @use
 *   adwaita-web/scss/adwaita-skin.scss 40:1    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 62 \2502        width: variables.$icon-size-base * 0.75; // Smaller arrow icon\a    \2502               ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   adwaita-web/scss/_split_button.scss 62:14  @use\a   adwaita-web/scss/adwaita-skin.scss 40:1    root stylesheet";
}
