{% extends "base.html" %}

{% block title %}Server Error - {{ super() }}{% endblock %}

{% block headerbar %}
<adw-header-bar>
    <adw-window-title slot="title" title="Server Error"></adw-window-title>
</adw-header-bar>
{% endblock %}

{% block content %}
<adw-status-page icon-name="dialog-warning-symbolic" title="500 - Internal Server Error" description="Sorry, something went wrong on our end. Please try again later.">
    <adw-button slot="actions" text="Go to Homepage" href="{{ url_for('general.index') }}" suggested></adw-button>
</adw-status-page>
{% endblock %}
