{% extends "base.html" %}

{% block title %}Test Adwaita Widget{% endblock %}

{% block content %}
    <adw-preferences-page>
        <adw-preferences-group title="Testing a Single Widget">
            <p>This page attempts to render a single Adwaita button:</p>
            <adw-button appearance="suggested">Test Button</adw-button>
            <p>If you see a styled button above, the component is working. If you only see 'Test Button' as plain text, it is not.</p>
        </adw-preferences-group>
    </adw-preferences-page>
{% endblock %}
